de.vogella.git.first/
nbproject/
bin/
dist/
build.xml
manifest.mf
build/
.project
.classpath
kdv_node_unload.txt
kdv_unload.txt
.DS_Store
src/files/kdv_node_unload.txt
src/files/kdv_unload.txt
smart_data.txt
src/files/smart_data.txt